# Stacey's Code for data clean up

In [1]:
#import dependencies

import pandas as pd
import os
import csv

In [2]:
# The path to our CSV file
file = "Resources/or_historical_wildfires.csv"

#Read data into csv
or_hist_df = pd.read_csv(file)
or_hist_df.head()

,id,fire_year,report_date,county,latitude,longitude,total_acres,odf_acres,fuel_model,fuel_descr,general_cause,fire_name,district,unit,legal
0,1,1961,1961-01-25,Washington,NaN,NaN,8.00,8.00,X,non-wildland fuel,Miscellaneous,61511004,51 - Tillamook,Tillamook,T000 R000 S00
1,2,1961,1961-04-04,Washington,NaN,NaN,5.00,5.00,X,non-wildland fuel,Debris Burning,61511009,51 - Tillamook,Tillamook,T000 R000 S00
2,3,1961,1961-04-09,Washington,NaN,NaN,0.05,0.05,X,non-wildland fuel,Recreationist,61511011,51 - Tillamook,Tillamook,T000 R000 S00
3,4,1961,1961-05-24,Washington,NaN,NaN,1.00,1.00,X,non-wildland fuel,Smoking,61511012,51 - Tillamook,Tillamook,T000 R000 S00
4,5,1961,1961-06-19,Washington,NaN,NaN,0.05,0.05,X,non-wildland fuel,Miscellaneous,61511016,51 - Tillamook,Tillamook,T000 R000 S00

In [3]:
#drop NAN values, we want to be able to plot with lat and lon
or_hist_df = or_hist_df.dropna(how='any')

In [4]:
or_hist_df.head()

,id,fire_year,report_date,county,latitude,longitude,total_acres,odf_acres,fuel_model,fuel_descr,general_cause,fire_name,district,unit,legal
48,49,1961,1961-01-26,Clatsop,46.104106,-122.172606,1.0,1.0,U,closed canopy pine,Debris Burning,61521006,52 - Astoria,Astoria,T07N R09W S08
51,52,1961,1961-07-11,Clatsop,46.148181,-122.110722,0.1,0.1,U,closed canopy pine,Equipment Use,61521027,52 - Astoria,Astoria,T08N R10W S26
52,53,1961,1961-07-11,Clatsop,46.075392,-122.295075,0.1,0.1,U,closed canopy pine,Equipment Use,61521028,52 - Astoria,Astoria,T07N R08W S20
56,57,1961,1961-08-08,Clatsop,46.177878,-122.401967,0.1,0.1,G,conifer old growth,Equipment Use,61521050,52 - Astoria,Astoria,T08N R07W S18
75,76,1961,1961-09-26,Clatsop,46.148189,-122.173517,0.1,0.1,G,conifer old growth,Juveniles,61521118,52 - Astoria,Astoria,T08N R09W S29

In [5]:
#drop fuel description that is less than one acre and isn't a wildland fuel
index_names = or_hist_df[ (or_hist_df['total_acres'] <= .05) & (or_hist_df['fuel_descr'] == 'non-wildland fuel')].index
or_hist_df.drop(index_names, inplace = True)

In [6]:
or_hist_df.head()

,id,fire_year,report_date,county,latitude,longitude,total_acres,odf_acres,fuel_model,fuel_descr,general_cause,fire_name,district,unit,legal
48,49,1961,1961-01-26,Clatsop,46.104106,-122.172606,1.0,1.0,U,closed canopy pine,Debris Burning,61521006,52 - Astoria,Astoria,T07N R09W S08
51,52,1961,1961-07-11,Clatsop,46.148181,-122.110722,0.1,0.1,U,closed canopy pine,Equipment Use,61521027,52 - Astoria,Astoria,T08N R10W S26
52,53,1961,1961-07-11,Clatsop,46.075392,-122.295075,0.1,0.1,U,closed canopy pine,Equipment Use,61521028,52 - Astoria,Astoria,T07N R08W S20
56,57,1961,1961-08-08,Clatsop,46.177878,-122.401967,0.1,0.1,G,conifer old growth,Equipment Use,61521050,52 - Astoria,Astoria,T08N R07W S18
75,76,1961,1961-09-26,Clatsop,46.148189,-122.173517,0.1,0.1,G,conifer old growth,Juveniles,61521118,52 - Astoria,Astoria,T08N R09W S29

In [7]:
#grab columns we care about
or_df = or_hist_df[['fire_year', 'report_date', 'county', 'latitude', 'longitude', 'total_acres', 'general_cause']]

In [8]:
#sort by report date
or_df = or_df.sort_values(by=['report_date'])

In [9]:
#reset index
or_df = or_df.reset_index(drop=True)
or_df

,fire_year,report_date,county,latitude,longitude,total_acres,general_cause
0,1960,1960-07-06,Columbia,46.106078,-122.896142,0.10,Smoking
1,1960,1960-08-14,Clatsop,46.090394,-122.089261,0.10,Recreationist
2,1960,1960-09-02,Clatsop,46.162725,-122.194164,0.10,Smoking
3,1960,1960-09-27,Clatsop,46.119236,-122.089386,0.60,Smoking
4,1961,1961-01-25,Wasco,45.716408,-122.671028,8.00,Juveniles
...,...,...,...,...,...,...,...
55109,2021,2021-05-21,Coos,43.148333,-123.830833,0.19,Debris Burning
55110,2021,2021-05-22,Hood River,45.576111,-120.532500,0.10,Recreationist
55111,2021,2021-05-23,Deschutes,43.665278,-120.487778,0.01,Equipment Use
55112,2021,2021-05-24,Wasco,45.265000,-120.767778,14.56,Debris Burning
55113,2021,2021-05-27,Columbia,45.841167,-121.141000,0.03,Debris Burning

In [11]:
or_df.to_csv("Resources/or_df.csv")